/* Importa gli stili di Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 255, 42, 0.05));
  background-size: cover;
  background-attachment: fixed;
}

a {
  font-weight: bold;
}

a:link {
  color: rgb(0, 88, 27); /* Colore dei link non visitati */
  text-decoration: none; /* Rimuove la sottolineatura di default */
}

a:visited {
  color: rgb(0, 88, 27); /* Colore dei link visitati */
}

a:hover {
  color: rgb(0, 156, 26); /* Colore dei link al passaggio del cursore */
  text-decoration: underline; /* Sottolinea il link al passaggio del cursore */
}

a:active {
  color: rgb(0, 168, 28); /* Colore dei link al clic */
}

/* Header - Search Bar - Slider */

.header {
  position: relative;
  background-image: url('./images/background-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  color: white;
  border-bottom: 5px solid #009c68;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.7), transparent);
}

.header-content {
  position: relative;
  z-index: 1;
}

.error-message {
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-top: 5px;
  padding: 15px;
  background-color: rgba(255, 215, 215, 0.75);
  border: 2px solid #ff0000;
  border-radius: 10px;
}

.input-group {
  margin-top: 35px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.slider {
  width: 50%;
}

/* RecipeDetail */

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe-container {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(177, 177, 177, 0.582);
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  border-radius: 20px;
}

.recipe-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.recipe-image {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

.recipe-description {
  margin-top: 20px;
  padding: 15px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
}

.ingredients {
  margin-top: 20px;
}

.recipe-ingredients {
  margin-top: 20px;
  list-style-type: disc;
  padding-left: 20px;
}

.instructions {
  margin-top: 20px;
}

.recipe-instructions {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid rgba(177, 177, 177, 0.582);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

/* Footer */

.footer {
  margin-top: 60px;
  margin-bottom: 30px;
}

.footer h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer ul a:hover {
  opacity: 0.8;
}

.footer .item.text {
  margin-bottom: 36px;
}

.footer .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer .item.social {
  text-align: center;
}

.footer .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer .item.social>a:hover {
  opacity: 0.9;
}

.footer .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.7;
  font-size: 13px;
  margin-bottom: 0;
}

/* ScrollBar */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #15664b;
}


/* Mobile */
@media only screen and (max-width: 767px) {

  .slider {
    width: 100%;
  }

}
