/* Importa gli stili di Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Aggiungi qui le tue regole di stile personalizzate */
body {
  background: linear-gradient(to bottom, #bbffee, #62ffd8);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* RecipeDetail */

.recipe-title {
  margin-top: 20px;
}

.recipe-image {
  margin-top: 20px;
  max-width: 100%;
}

.recipe-description {
  margin-top: 20px;
  font-style: italic;
}

.recipe-ingredients {
  margin-top: 20px;
  list-style-type: disc;
  padding-left: 20px;
}

.recipe-instructions {
  margin-top: 20px;
}

